<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>demo</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header class="main"><p>訊息發送平台</p></header>

	<section class="part1"><p>專案說明</p>
	<div class="num">
		<div class="title"><h1>專案代號</h1></div>
			<select>
				<option>通知類型</option>
				<option value="mkt">行銷促案</option>
				<option value="inf">好康訊息</option>
				<option value="txn">促動交易</option>
				<option value="nps">NPS問券</option>
				<option value="bil">交易帳務</option>
				<option value="anc">消息公告</option>
				<option value="svy">問券調查</option>
			</select>
			<select>
				<option>通知方式</option>
				<option value="push">推播</option>
				<option value="email">郵件</option>
				<option value="sms">簡訊</option>
			</select>
			<div><input class="input" placeholder="自行輸入文字">	</div>
	</div>

	<div class="person">
		<div class="title"><h1>數據負責人</h1></div>
		<select>
			<option value="">數據部門</option>
            <option value="">資料工程部</option>
            <option value="">數據分析部</option>
		</select>
		<select>
			<option value="">執行人員</option>
			<option value="">Mars</option>
			<option value="">John</option>
			<option value="">Vincent</option>
			<option value="">Slide</option>
		</select>
		<div class="title"><h1>專案負責人</h1></div>
		<select>
			<option value="">專案部門</option>
            <option value="">數位行銷部</option>
            <option value="">數位經營部</option>
		</select>
		<select>
			<option value="">執行人員</option>
			<option value="">Lisa</option>
			<option value="">Anita</option>
			<option value="">Cindy</option>
			<option value="">Joyce</option>
		</select>
	</div>

	<div class="description">
		<div class="title"><h1>發送對象</h1></div>
		<textarea></textarea>
	</div>
	</section>

</body>
</html>

