<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="static/css/acod.css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.8.3.min.js') }}"></script>
    <!--<script src="https://code.jquery.com/jquery-1.8.3.min.js" type="text/javascript"></script>-->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons/adv/advconfig.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons/adv/advpane.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons/adv/advajax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons/adv/advgrid.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons/adv/advdecl.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons/adv/advbtn.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons/adv/advgeneral.js') }}"></script>
    <script type="text/javascript">
    function query() { 
        var url ='/getfuncb'  
        if (advConfigCheck("query", true)){
    		return;
		}
        if (advConfigModCheck("query", true)){
    		return;
		}
        var request = advAjaxGetRequest("query");
        $.getJSON(url, request, function (response, status) {
            if (status == "success") {
                advAjaxSetResponse("query", response); 
                //advConfigModRest("update");
                var i =10;
                advConfigShowErrorMessage("查詢完成!",0);
            }
        });
    }
    function showZonePane(src) {
	    var jrow = $(src).parent().parent();
	    var seqNo = jrow.find("#seq").text();
	    alert(seqNo);
    } 
    $(document).ready(function() {
        var table = null;
        $('a#calculate').bind('click', function() {
            $.getJSON('/_get_mstable', {
                a: $('input[name="a"]').val(),
                b: $('input[name="b"]').val()
            }, function(data) {
                $("#elements").text(data.number_elements);
                if (table !== null) {
                    table.destroy();
                    table = null;
                    $("#a_nice_table").empty();
                }
                table = $("#a_nice_table").DataTable({
                    data: data.my_table,
                    columns: data.columns
                });
            });
            return false;
        });
    });
 
    </script>
  <head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">訊息平台</h3>
            <tr>
                <td>
                    <select id="sfsname" name="sfsname">
                        <option value="1">第一項</option>
                        <option value="2">第二項</option>
                        <option value="3">第三項</option>
                    </select>
                    <div class="acod"> bi:query</div>
                </td>
            </tr>
           
        </div>
        <table border="0">
            <tr>
                <td class="queryLabel">
                    專案代號&nbsp;:&nbsp;        		
                </td>
                <td>
                    <input type="text"  name="ProjectNo" id="ProjectNo" size="20" maxlength="20" >
                    <div class="acod">desc:專案代號 chk(query):string(0..30) tr:upper  to:query bi:keep</div>
                </td>
            </tr>
            <tr>
                <td class="queryLabel">
                    專案說明&nbsp;:&nbsp;        		
                </td>
                <td>
                    <input type="text"  name="ProjectDesc" id="ProjectDesc" size="20" maxlength="20" >
                    <div class="acod">desc:專案代號 chk(query):string(0..30) tr:upper  to:query bi:keep</div>
                </td>
            </tr>
            <tr>
                 <td class="queryLabel">
                    通知方式&nbsp;:&nbsp;        		
                </td>
                <td>
    				<input type="radio" name="sampleType" value="" checked>全部
    				<input type="radio" name="sampleType" value="E">Email
    				<input type="radio" name="sampleType" value="S">簡訊
    				<input type="radio" name="sampleType" value="P">推播
    				<div class="acod">desc:通知方式   to:query  bi:keep</div>		
    			</td>
    		</tr>
            <tr>
    			<td>
				    專案負責人&nbsp;:&nbsp;
				</td>
				<td >
					 <select id="man" name="man">
                        <option value="1">john</option>
                        <option value="2">mac</option>
                        <option value="3">pro</option>
                    </select>
                    <div class="acod"> bi:query</div>
				</td>
            </tr>
             <tr>
                 <td>
                     <button type="button" onclick="query();">查詢</button>
                 </td>
             </tr>
        </table>

        <table id="grid01">
        <tr>
            <th><label style="display: inline-block; width: 70px;">序號</label></th>
			<th><label style="display: inline-block; width: 160px;">專案代號</label></th>
			<th><label style="display: inline-block; width: 160px;">專案說明</label></th>
			<th><label style="display: inline-block; width: 160px;">通知方式</label></th>
			<th><label style="display: inline-block; width: 160px;">專案開始日</label></th>
			<th><label style="display: inline-block; width: 160px;">專案結束日</label></th>
			<th><label style="display: inline-block; width: 160px;">專案負責人</label></th>
			<th><label style="display: inline-block; width: 60px;">停用</label></th>
        </tr>
        <tr>
            <td nowrap><label style="display: inline-block; width: 70px;" id="seq"></label></td>
			<td nowrap><label ondblclick="showZonePane(this);" style="display: inline-block; width: 160px;" name="g1ProjectNo"></label></td>
			<td nowrap><label style="display: inline-block; width: 160px;" name="g1ProjectDesc"></label></td>
			<td nowrap><label style="display: inline-block; width: 160px;" name="g1Notice"></label></td>
			<td nowrap><label style="display: inline-block; width: 160px;" name="g1ProjectBeginDay"></label></td>
			<td nowrap><label style="display: inline-block; width: 160px;" name="g1ProjectEndDay"></label></td>
			<td nowrap><label style="display: inline-block; width: 60px;" name="g1ProjectStop"></label></td>
	    </tr>
        </table>
        <div class="acod">grid:tmpl(if01)</div>
        <div style="position: relative; overflow: hidden;">
            <table class="ctv"></table>
            <div class="acod">grid:fixrow(if01)</div>
        </div>
        <div style="position: relative; width: 1100px; height: 310px; overflow-x: auto; overflow-y: scroll;">
                    <table class="ctv" ></table>
                    <div class="acod">grid:table(if01);attr(reqAll);pgrow(0)  fr:query bi:update</div>
        </div>
        <div class="ctvTitle" style="position: relative; width: 1100px; text-align: right;">
            共&nbsp;<span id="edCnt"></span><div class="acod">grid:rowcnt(if01)</div>&nbsp;筆&nbsp;
        </div>
        <div style="position: relative; width: 290px; text-align:left;">
        </div>
        <s:hidden name="_advPaneBackup_" />
        <s:hidden name="libraCopy" />
        <div class="acod"> bi:query</div>
        {% include 'status.html' %}

        </div>
    </div>

  </body>
  <script type="text/javascript">
  advConfigRegister();
  advPaneRegister();
  advAjaxRegister();
  advGridRegister();
  advBtnEnableHotkey();
  </script>
</html>