<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib prefix="s" uri="/struts-tags" %>
<script type="text/javascript">
<!--
	$( function(){
		$( '#btn_status' ).click( function(){
			var $statusMsg = $( '#statusMsg' );
			$( '#window' )
				.dialog( 'open' )
				.html( $statusMsg.val().replace( /][\s]*\[/g, ']<br>[' ) )
				.css( 'color', $statusMsg.css( 'color' ) );
		});
		$('#statusMsg').val($("#jsonMsg").text());
	});
//-->
</script>  
<table width="100%" border="0" align="left" cellpadding="1" cellspacing="0" class="statusArea">
	<tr>
		<td style="width: 125px;">
			<input id="btn_status" type="button" class="btnFixed" value='<s:text name="button.status"/>'>
		</td>
		<td>
			<s:if test="hasActionMessages()">
				<input id="statusMsg" type="text" value='<s:property value="actionMessages"/>' class="msgText msg" readonly="readonly"></input>       
			</s:if>
			<s:elseif test="hasFieldErrors()">
				<input id="statusMsg" type="text" class="msgText error" readonly="readonly"></input>
		    </s:elseif>
			<s:else>
			 	<input id="statusMsg" type="text" class="msgText" readonly="readonly"></input>
			</s:else>
			<div id="jsonMsg" style="display:none">
				<s:if test="hasActionMessages()">
					<s:iterator value="actionMessages">
						<li><s:property value="value"/></li>
					</s:iterator>
					<li><s:property value="actionMessages"/></li>       
				</s:if>
				<s:if test="hasFieldErrors()">
					<s:iterator value="fieldErrors">
				    	<li><s:property value="value"/></li>
				    </s:iterator>
			   </s:if>
	    	</div>
		</td>
	</tr>
</table>
<%--
<s:if test="hasFieldErrors()">
	<s:iterator value="getFieldErrors().keySet()" var="key">
		<s:set var="list" value="getFieldErrors().get(#key)"/>
		<s:iterator value="#list" var="val">
			<s:property value="#val"/>
		</s:iterator>
	</s:iterator>
</s:if>
--%>